{% extends 'post.html' %}

{% block comment_section %}
<!-- 덧글 출력 -->
<div>
    <div class="h4 text-primary mt-4 mb-4">{{ comments.count }} Comments</div>
    {% for comment in comments %}
        <div class="comment-wrapper border-bottom mt-3 pb-3">
            <div class="comment-box row">
                <div class="col-sm-8">
                    <div role="comment-info">
                        <span class="h5 mr-3">{{ comment.author.username }}</span>
                        {{ comment.date|date:'Y-m-d h:i A' }}
                    </div>
                    <div>
                        {{ comment.text }}
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- 덧글 작성자와 로그인한 사용자가 일치할 경우 수정, 삭제 버튼 노출 -->
                    {% if user.is_authenticated and comment.author.username == request.user.username %}
                        <!-- 댓글 수정 -->
                        <a class="text-info mr-3" href="{% url 'edit_comment' comment.id %}">수정</a>
                        <!-- 댓글 삭제 -->
                        <a class="text-info" href="{% url 'del_comment' comment.id %}">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div class="mt-5 mb-3">
    <!-- 댓글 작성 -->
    <form  action="{% url 'new_comment' blog.id %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment_input" class="control-label h5"><span class="text-primary">{{ request.user.username }}</span>님의 덧글</label>
            <div class="form-inline">
                <textarea name="text" class="form-control col-sm-8 mr-3" rows="2" placeholder="덧글을 입력하세요 (200자 제한)" id="comment_input"></textarea>
                <button type="submit" class="btn btn-primary btn-lg col-sm-2">작성</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}